<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/util 
         http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- MVC注解支持 -->
	<mvc:annotation-driven />

	<!-- 注解自动扫描 -->
	<context:annotation-config />
	<context:component-scan base-package="cn.com.cisec.cheyoumei.server.controller" />
	<bean id="resultMessage" class="java.util.HashMap"/>
	<!-- Json返回格式化转换 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>apolication/json; charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 静态资源文件映射 -->
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/ext/**" location="/ext/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/error/**" location="/error/" />
	<mvc:resources mapping="/upload/**" location="/upload/" />
	
	<mvc:interceptors> 
	    <mvc:interceptor>  
	        <mvc:mapping path="/manager/**"/>  
	        <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->  
	        <bean class="cn.com.cisec.cheyoumei.server.interceptor.LoginInterceptor"/>  
    	</mvc:interceptor>  
	</mvc:interceptors>
	
	<!-- <mvc:resources mapping="/upload/**" location="/upload/" /> -->
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:viewClass="org.springframework.web.servlet.view.JstlView" p:prefix="/WEB-INF/"
		p:suffix=".jsp" />
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="20000000" />
		<property name="defaultEncoding" value="utf-8" />
	</bean>
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop>
			</props>
		</property>
	</bean>

	<!-- Spring的事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- Spring 使用事务注解transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- <http auto-config='true'> <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" 
		/> <intercept-url pattern="/**" access="ROLE_USER" /> </http> -->
</beans>