*{
	margin:0px;
	padding:0px;
	font-family:"微软雅黑", Arial;
	font-size: 12px;
}
body{
	background-color:#157FCC;
}
#loginForm{
	background:url(../img/login/login_bg6.gif) repeat-x left 30px;
	position:absolute;
	top:50%;
	margin-top:-137px;
	width:100%;
	text-align: center;
	clear: both;
}
#loginForm form{
	background:url(../img/login/form_bg4.gif) no-repeat top left;
	height:273px;
	width:435px;
	margin:auto;
	text-align:left;
}
#logo{
	background:url(../img/login/logo5.gif) no-repeat center top;
	height:157px;
	text-indent:-9999px;
}
#info{
	position:relative;
	top:30px;
	left:0px;
	text-align:center;
	color:#FFF;
}
#loginForm form label{
	position:relative;
	display:block;
	color:#157FCC;
	line-height:33px;
}
#loginForm form label.usernamelabel{
	top:80px;
	left:80px;
}
#loginForm form label.passwordlabel{
	top:85px;
	left:80px;
}
#loginForm form label.checkcodelabel{
	top:90px;
	left:80px;
}
#submit{
	position:relative;
	top:98px;
	left:140px;
}
#reset{
	position:relative;
	top:74px;
	left:190px;
}
#username{
	background:url(../img/login/form_uername.gif) no-repeat left top;
	display:inline-block;
	border:none;
	width:153px;
	height:33px;
	line-height:33px;
	padding-left:35px;
}
#password{
	background:url(../img/login/form_password.gif) no-repeat 1px top;
	display:inline-block;
	border:none;
	width:153px;
	height:33px;
	line-height:33px;
	padding-left:35px;
}
#checkcode{
	background:url(../img/login/form_checkcode.gif) no-repeat left top;
	display:inline-block;
	border:none;
	width:65px;
	height:33px;
	line-height:33px;
	padding-left:10px;
}
